/*
 * Travel (September 24, 2014)
 *
 * Piece of WebStuffs.
 * https://bitbucket.org/OPiMedia/webstuffs
 *
 * GPLv3 --- Copyright (C) 2014 Olivier Pirson
 * http://www.opimedia.be/
 */

@font-face {
    font-family: TravelDiary;
    src: url(../_fonts/travel_diary_feb26.ttf) format("truetype");
}



/*
 * Reset
 */
article, aside, body, div, footer, h1, header, main, nav, section {
    margin: 0;
    padding: 0;
}



/*
 * Positioning
 */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

    header > nav {}

        header > nav ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            header > nav ul li {
                flex: 4;
                overflow: hidden;
            }
            header > nav ul li.current { flex: 5; }

main {
    margin-top: 150px;
    padding: 2ex;
}

    main section {}

        main section img { border: 0 none; }



/*
 * Style
 */
a {
    color: #805a40;
    text-decoration: none;
}
a:focus,
a:hover {
    text-decoration: underline;
}

body { background-color: #fff0d0; }

footer {
    background-image: url(../_img/footer_background_1599x100.png);
    background-position: center 0;
    background-repeat: no-repeat;

    box-shadow: 0 -20px 20px #fff0d0 inset;
    color: white;

    font-family: TravelDiary, serif;
    font-size: 200%;
    font-weight: bolder;

    height: 100px;
    line-height: 100px;
    text-align: center;
    text-shadow: 1px -3px 5px black;
    white-space: nowrap;
}

    footer a { color: white; }

    footer a img {
        position: relative;
        top: 4px;
    }


div.footer_top_shadow {
    box-shadow: 0 -3px 5px black;
    height: 10px;
    margin-bottom: -10px;
}


header {
    box-shadow: 0 3px 5px black;
    text-align: center;
}

    header > div {
        background-image: url(../_img/header_background_1599x100.png);
        background-position: center 0;
        background-repeat: no-repeat;

        color: white;

        font-family: TravelDiary, serif;
        font-size: 400%;
        font-weight: bolder;

        height: 100px;
        line-height: 100px;
        text-shadow: 1px 3px 5px black;
    }

    header > nav {
        background-image: url(../_img/menu_background_1599x50.png);
        background-position: center 0;
        background-repeat: no-repeat;

        height: 50px;
        line-height: 50px;
    }

        header > nav ul {}

        header > nav ul li {
            background-color: rgba(255, 255, 255, .5);
            border-left: 5px dotted rgba(0, 0, 0, .5);
            height: 50px;
            transition: background-color .5s;
        }
        header > nav ul li:active,
        header > nav ul li.current {
            background-color: transparent !important;
        }
        header > nav ul li:first-child { border-left: 0; }
        header > nav ul li:focus,
        header > nav ul li:hover {
            background-color: rgba(255, 255, 255, .35);
        }

            header > nav ul li a {
                color: white;
                display: inline-block;

                font-family: TravelDiary, serif;
                font-size: 130%;
                font-weight: bolder;

                opacity: 1;
                text-align: center;
                text-shadow: 1px 2px 5px black;
                width: 100%;
            }
            header > nav ul li.current a:focus,
            header > nav ul li.current:hover a {
                text-decoration: none;
            }


main { background-color: white; }

    main div#image_viewer {
        cursor: pointer;
        display: none;
        height: 100%;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
    }

        main div#image_viewer img {
            border: 20px solid rgba(0, 0, 0, .5);
            border-radius: 40px;
            height: 0;
            margin-top: 10px;
            z-index: 1003;
        }

    main section {
        border-bottom: 1px dotted silver;
        clear: both;
        margin-bottom: 3ex;
    }

        main section article { padding: 0 1em; }

            main section article p { word-wrap: break-word; }

        main section img {
            cursor: pointer;
            float: left;
            padding: 0 1em 0 0;
            width: 200px;
        }
        main section img.right {
            float: right;
            padding: 0 0 0 1em;
        }


ul {
    margin: 0;
}

ul li { list-style-position: inside; }



.clear { clear: both; }

.indent { text-indent: 2.4em; }

.justify { text-align: justify; }

.no-margin-bottom { margin-bottom: 0; }

.surname { font-family: small-caps; }
