/*
 * Customize the look of Mozilla's user interface.
 * Put this file in your configuration repertory .mozilla/firefox/YOUR-PROFILE/chrome/userChrome.css
 */

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */


/*
 * Icons display in personal bookmarks
 */
#personal-bookmarks toolbarbutton.bookmark-item {
  margin: 0 !important;
  padding: 0 !important;
}

#personal-bookmarks toolbarbutton.bookmark-item .toolbarbutton-icon {
  opacity: 0.7 !important;
}
#personal-bookmarks toolbarbutton.bookmark-item:hover .toolbarbutton-icon {
  opacity: 1 !important;
  transform: scale(1.2) !important;
}

#personal-bookmarks toolbarbutton.bookmark-item .toolbarbutton-text {
  display: none !important;
}
